# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\University\Books and Resources\Compiler and Programming Language Design\Assignments\Phase 2\SophiaSemanticAnalyser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
